# Ignore system files
.DS_Store
Thumbs.db

# Ignore node modules
node_modules/

# Ignore logs
*.log

# Ignore the build folder
/dist

# Ignore IDE specific files
.idea/
*.iml
.vscode/
.codebuddy/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore the npm debug log, yarn error log
npm-debug.log*
yarn-debug.log*
yarn-error.log*