/* 删除背景 */
.recent-contact,
.viewport-list__inner,
.contact,
.tab-header,
.radio-tab,
/* .normal-file, */
.sys-notify,
/* .msg-content-container, */
/* .sys-notify-card, */
.file-list-normal-scroll-container,
.sender-container,
.tab-container .profile,
/* 文件管理页面 文件列表下面的白条 */
.file-area .loadmore-placeholder,
/* 文件管理页面 群文件 群列表 */
.group-file-container,
.q-collapse-item,
.q-collapse-item .q-collapse-item__header,
/* 文件管理页面 类型列表 */
.file-type-container,
/* 文件管理页面 类型 图片与视频 */
.file-list-grid-scroll-container,
/* 文件管理页面 群文件 footer */
.file-area-container-group-file-footer,
/* 收藏 左侧列表 */
.favorites-layout,
.favorites-layout__left-area,
/* 收藏 右侧 背景删不掉？？？？ */
.favorites-layout__right-area,
.favorites-layout__content,
.favorites-header,
html,
body,
.app,
/* 查看图片顶栏 */
.main-area__header {
    background: initial !important;
}

/* 列表条目圆角 */
.viewport-list__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

/* 好友通知、群通知列表项 */
.sys-notify__container .sys-notify-card,
.sys-notify__container .list-item {
    border-radius: 8px;
}

/* 消息列表项圆角 */
.viewport-list .list-item {
    border-radius: 12px;
}

/* 聊天框 */
.chat-input-area {
    border-radius: 16px 16px 0px 0px;
}

/* 文件管理 文件列表 块 */
.file-list-normal-sort,
/* 文件管理 类型 图片与视频 */
.file-list-grid-scroll-container>* {
    margin-bottom: 16px;
}

/* 添加模糊 */
.normal-file,
.radio-tab {
    backdrop-filter: blur(8px);
}

/* 文件管理 发送人列表 */
.file-manager-main .q-collapse-item {
    background: none !important;
}

/* 
    文件管理 发送人列表
    文件管理 类型列表
    文件管理 发送人列表 展开的子列表 */
.file-manager-main .q-collapse-item__title,
.file-manager-main .file-type,
.file-manager-main .user-item-container {
    border-radius: 8px !important;
}

/* 登录页面QQ图标 */
.qq-icon-font {
    transform: none !important;
}

/* 查看图片界面工具栏 */
.main-area__header {
    backdrop-filter: none !important;
}

/* 查看图片界面 */
/* .main-area {
    background: #0000007f !important;
} */

/* 浅色模式 */
@media (prefers-color-scheme: light) {

    /* 多选消息的按钮 */
    .forward-ops .op-icon {
        background: #00000010 !important;
    }

    /* 聊天界面更多面板 */
    .side-panel {
        box-shadow: 0 4px 6px 0px #00000010 !important;
        /* 
            新版QQ整体窗口背景可以透明了
            想保留透明背景但是发现背景透明了之后模糊也透明了。。。 */
        background: #ffffffef !important;
        backdrop-filter: blur(32px);
    }

    /* 
        (Windows) 主界面侧栏
        (Linux) 主界面侧栏
        主界面侧栏右边区域
        文件管理页面侧栏
        文件管理页面侧栏右边区域
        设置侧栏
        设置侧栏右边的区域 */
    html.windows .sidebar-nav,
    html.linux .sidebar,
    .tab-container,
    .nav-bar-container,
    .file-manager-main,
    .setting-tab,
    .setting-main {
        background: var(--background-color-light) !important;
    }

    .viewport-list .list-item:hover {
        background-color: #00000021 !important;
    }

    /* 别人消息的背景 */
    .message-content__wrapper .container--others {
        background: #00000010 !important;
    }

    /* 自己消息的背景 */
    .message-content__wrapper .container--self {
        background: var(--theme-color) !important;
    }

    /* 好友通知、群通知列表项 */
    .sys-notify__container .sys-notify-card {
        background: #00000010 !important;
    }

    .search-result {
        backdrop-filter: blur(8px);
        background: #ffffffef !important;
        border-radius: 12px !important;
    }

    .q-popover,
    .user-card-main,
    .account-list,
    .sticker-panel {
        backdrop-filter: blur(8px);
        background: #ffffffef !important;
        border-radius: 8px !important;
    }

    /* 
        文件管理 文件列表 块
        文件管理 文件列表 标题
        文件管理 类型 图片与视频
        (Windows) 设置 列表项卡片
        (Linux) 设置 列表项卡片 
        设置 消息通知 列表项卡片 消息组
        (Windows) 设置 存储管理 列表项卡片
        设置 快捷键 列表项卡片
        LiteLoaderQQNT 配置界面
        LiteLoaderQQNT 插件市场
        MSpring Theme 配置界面*/
    .file-list-normal-sort,
    .file-list-normal-sort-title,
    .file-list-grid-scroll-container>*,
    html.windows .setting-main__content>*>*:not(.config_view, .appearance-tab, .mspring_theme, .plugins_marketplace)>*:not(.setting-item-title, .popup, .storage-space, .shotcut),
    html.linux .setting-main__content>*:not(.config_view, .mspring_theme)>*:not(.setting-item-title, .popup, .shotcut),
    .setting-main__content .popup>*:not(.setting-item-title),
    html.windows .setting-main__content .storage-space>*:not(.setting-item-title, .storage-chart),
    .setting-main__content .shotcut>*,
    .config_view .wrap,
    .plugins_marketplace .wrap,
    .mspring_theme .wrap {
        background: #00000010 !important;
        border-radius: 8px;
    }

    .login-container {
        background-color: #ffffff !important;
    }

    .password-container__input-area .q-input,
    .password-container__input-area .password .input,
    .password-container__input-area .password .input.focus {
        border-radius: 8px !important;
        background: #00000010 !important;
    }

}


/* 深色模式 */
@media (prefers-color-scheme: dark) {

    /* 多选消息的按钮 */
    .forward-ops .op-icon {
        background: #ffffff21 !important;
    }

    /* 聊天界面更多面板 */
    .side-panel {
        box-shadow: 0 4px 6px 0px #00000010 !important;
        /* 
            新版QQ整体窗口背景可以透明了
            想保留透明背景但是发现背景透明了之后模糊也透明了。。。 */
        background: #171717ef !important;
        backdrop-filter: blur(32px);
    }

    /* 
        (Windows) 主界面侧栏
        (Linux) 主界面侧栏
        主界面侧栏右边区域
        文件管理页面侧栏
        文件管理页面侧栏右边区域
        设置侧栏
        设置侧栏右边的区域 */
    html.windows .sidebar-nav,
    html.linux .sidebar,
    .tab-container,
    .nav-bar-container,
    .file-manager-main,
    .setting-tab,
    .setting-main {
        background: var(--background-color-dark) !important;
    }

    .viewport-list .list-item:hover {
        background-color: #ffffff3f !important;
    }

    /* 别人消息的背景 */
    .message-content__wrapper .container--others {
        background: #ffffff21 !important;
    }

    /* 自己消息的背景 */
    .message-content__wrapper .container--self {
        background: var(--theme-color) !important;
    }

    /* 好友通知、群通知列表项 */
    .sys-notify__container .sys-notify-card {
        background: #ffffff21 !important;
    }

    .search-result {
        backdrop-filter: blur(8px);
        background: #171717ef !important;
        border-radius: 12px !important;
    }

    .q-popover,
    .user-card-main,
    .account-list,
    .sticker-panel {
        backdrop-filter: blur(8px);
        background: #171717ef !important;
        border-radius: 8px !important;
    }

    /* 
        文件管理 文件列表 块
        文件管理 文件列表 标题
        文件管理 类型 图片与视频
        (Windows) 设置 列表项卡片
        (Linux) 设置 列表项卡片 
        设置 消息通知 列表项卡片 消息组
        (Windows) 设置 存储管理 列表项卡片
        设置 快捷键 列表项卡片
        LiteLoaderQQNT 配置界面
        LiteLoaderQQNT 插件市场
        MSpring Theme 配置界面*/
    .file-list-normal-sort,
    .file-list-normal-sort-title,
    .file-list-grid-scroll-container>*,
    html.windows .setting-main__content>*>*:not(.config_view, .appearance-tab, .mspring_theme, .plugins_marketplace)>*:not(.setting-item-title, .popup, .storage-space, .shotcut),
    html.linux .setting-main__content>*:not(.config_view, .mspring_theme)>*:not(.setting-item-title, .popup, .shotcut),
    .setting-main__content .popup>*:not(.setting-item-title),
    html.windows .setting-main__content .storage-space>*:not(.setting-item-title, .storage-chart),
    .setting-main__content .shotcut>*,
    .config_view .wrap,
    .plugins_marketplace .wrap,
    .mspring_theme .wrap {
        background: #ffffff21 !important;
        border-radius: 8px;
    }

    /* 登录页面背景 */
    .login-container {
        background-color: #171717 !important;
    }

    .password-container__input-area .q-input,
    .password-container__input-area .password .input,
    .password-container__input-area .password .input.focus {
        border-radius: 8px !important;
        background: #ffffff3f !important;
    }

    .login-panel,
    .proxy-setting__title,
    .proxy-setting__subtitle,
    #qPullDownMenuTrigger,
    .login-panel .q-button.q-button--secondary.q-button--default>span {
        color: #ffffff !important;
    }

    .login-panel .q-button.q-button--secondary.q-button--default {
        border-color: #ffffff7f !important;
    }

    .q-pulldown-menu-button {
        background: #ffffff21 !important;
    }

    .login-panel .proxy-setting__type>div>div>span>i>svg>path {
        fill: #ffffff !important;
    }

    .process-text,
    .password-container__input-area,
    .password-container__input-area .q-icon,
    .password-container__input-area .q-input__inner,
    .account-list .uin {
        color: #ffffff !important;
    }

    .login-panel .seperator {
        color: #ffffff7f !important;
    }

    .login-panel .password-container__opreate.operation>div,
    .login-panel .operation>div {
        background: #ffffff7f !important;
    }

    /* 登录页隐私checkbox未勾选 */
    .q-checkbox:not(.is-disabled):not(.is-checked):hover .q-checkbox__input {
        background-color: #ffffff3f !important;
        border-color: #ffffff9f !important;
    }

    /* 登录页隐私checkbox勾选 */
    .q-checkbox .q-checkbox__input {
        background-color: #ffffff10 !important;
        border-color: #ffffff3f !important;
    }

    .search-input,
    /* linux端最近聊天加号按钮 */
    html.linux .contact-adder-btn {
        background: #ffffff10 !important;
    }

    /* 自己发送的链接颜色 */
    .container--self .text-link {
        color: #ffffff !important;
    }

    /* 登录页面QQ图标颜色 */
    .qq-icon-font>*>*>* {
        fill: #ffffff !important;
    }

    #app>div>div.window-control-area>div>i>svg>path,
    #app>div>div.setting>i>svg>path {
        fill: #ffffff !important;
    }

}

:root {
    --el-color-primary: var(--theme-color);
}

.q-theme-tokens-light {
    --brand_standard: var(--theme-color);
    --nt_brand_standard_2_overlay_pressed_brand_2_mix: color-mix(in srgb, var(--theme-color), black 20%);
    --nt_brand_standard_2_overlay_hover_brand_2_mix: color-mix(in srgb, var(--theme-color), black 10%);
    --bubble_host: var(--theme-color);
    --nt_brand_standard_2_20_2_alpha: #cb82be3f;
    --overlay_active_brand: var(--theme-color);
    --text_link: var(--theme-color);
    --text-brand: var(--theme-color);
}

.q-theme-tokens-dark {
    --brand_standard: var(--theme-color);
    --nt_brand_standard_2_overlay_pressed_brand_2_mix: color-mix(in srgb, var(--theme-color), black 20%);
    --nt_brand_standard_2_overlay_hover_brand_2_mix: color-mix(in srgb, var(--theme-color), black 10%);
    --bubble_host: var(--theme-color);
    --overlay_active_brand: var(--theme-color);
    --text_link: var(--theme-color);
    --text-brand: var(--theme-color);
}

.send-btn-wrap,
.top-bar__adder,
.search-input,
.radio-tab,
.q-pulldown-menu-button,
.record-search,
.search,
.guilds-item-btn .q-button {
    border-radius: 8px !important;
}

.q-context-menu:not(.is-pure),
.q-context-sub-menu__container:not(.is-pure),
.q-button {
    /* backdrop-filter: brightness(100%) saturate(120%) blur(8px); */
    /* background: none !important; */
    border-radius: 8px;
}

.guilds-item {
    border-radius: 16px !important;
    height: initial !important;
    min-width: auto !important;
}

.password-container__input-area .q-input__inner,
.password-container__input-area .password {
    background: none !important;
}

.login-container {
    background-image: none !important;
}

.auto-login .avatar {
    box-shadow: 0px 4px 28px 0px #cb82beaf !important;
}

.record-msg .msg-content-container {
    background: none !important;
    backdrop-filter: none !important;
}

/* 搜索框等点击之后粉线的圆角 */
.q-input__inner:focus {
    border-radius: 8px !important;
}

/* 登录页面链接颜色 */
.login-panel .password-container__opreate.operation>span:nth-child(1)>span,
.login-panel .password-container__opreate.operation>span:nth-child(3)>span,
#chk1-label>a:nth-child(1),
#chk1-label>a:nth-child(2),
#app>div>div.login-panel>div>div.operation>span:nth-child(1),
#app>div>div.login-panel>div>div.operation>span:nth-child(3) {
    color: var(--text_link) !important;
}

/* 
    删除Linux版最近聊天的加载占位背景
    删除Linux版群成员列表的加载占位背景
    删除mac版最近聊天的加载占位背景
    删除mac版群成员列表的加载占位背景 */
html.linux .recent-contact .viewport-list,
html.linux .group-member .viewport-list,
html.mac .recent-contact .viewport-list,
html.mac .group-member .viewport-list {
    background-image: none !important;
}

/* 删除Linux版好友通知/群通知的多余边距 */
html.linux .sys-notify .sys-notify-card {
    padding: unset !important;
}

/* 删除Linux版搜索结果多余的第二层背景 */
html.linux .search-result-background {
    background-color: initial !important
}