/* 强制覆盖自己的气泡颜色 */
html.mspring_force_host_bubble_color #app .chat-msg-area .ml-list .message .msg-content-container.container--self {
    background: var(--theme-color) !important;
    color: var(--on_bubble_host_text) !important;
    backdrop-filter: none !important;
}

/* 自己发送的链接颜色 */
#ml-root .ml-item .message .message-container .msg-content-container.container--self .message-content .text-link {
    color: #ffffff;
}

/* 将自己的艾特颜色改为白色并添加下划线与普通消息文本进行区分 */
/* #ml-root .ml-item .message .message-container .msg-content-container.container--self .message-content .text-element--at {
    color: #ffffff;
    text-decoration: underline;
} */

/* 自己回复消息的文本颜色 */
html.mspring_force_host_bubble_color #app .chat-msg-area .ml-list .message .reply-element.reply-element--self {
    color: var(--on_bubble_host_text) !important;
}

html.mspring_background_plugin_enabled:not(.mspring_force_host_bubble_color) #app .chat-msg-area .ml-list .message .reply-element.reply-element--self {
    color: var(--text_primary) !important;
}

/* 
    合并转发的聊天记录
    文件 */
#ml-root .forward-msg,
#ml-root .normal-file {
    background-color: var(--msp-container);
}

@media (prefers-color-scheme: light) {
    /* 
        合并转发的聊天记录（选中）
        文件（选中） */
    #ml-root .forward-msg:is(:active, :hover),
    #ml-root .normal-file:is(:active, :hover) {
        background-color: var(--msp-container-active);
    }

    /* 转发消息 折叠列表 头部 */
    .q-dialog .q-collapse-item .q-collapse-item__header {
        background: #ffffffef !important;
    }

    #ml-root .container--others .ptt-element__button .q-icon {
        color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    /* 
        合并转发的聊天记录（选中）
        文件（选中） */
    #ml-root .forward-msg:is(:active, :hover),
    #ml-root .normal-file:is(:active, :hover) {
        background-color: #ffffff10;
    }

    /* 转发消息 折叠列表 头部 */
    .q-dialog .q-collapse-item .q-collapse-item__header {
        background: #303030ef !important;
    }

    #ml-root .container--others .ptt-element__button .q-icon {
        color: #171717;
    }
}

/* 防撤回提示 */
html:not(.mspring_background_plugin_enabled, .mspring_lite_tool_background_enabled) .message-content-recalled {
    background: var(--msp-container) !important;
    backdrop-filter: initial !important;
}

/* 聊天界面 提示（时间等） */
.babble {
    background: var(--msp-container);
}

/* 
    管理员标签（群成员列表）
    管理员标签（聊天界面）
    群公告置顶标签
 */
.group-user .q-tag.group-user__role:not(.primary),
.group-chat .q-tag.member-role-tag:not(.primary),
.notice__container .top-flag {
    color: var(--theme-color);
    background: var(--theme-tag-color);
}

/* 别人消息选中文字背景色 */
.message-content__wrapper .container--others span::selection,
.message-content__wrapper .container--others heti-spacing::selection,
.message-content__wrapper .container--others br::selection,
.message-content__wrapper .container--others img::selection {
    background: var(--text-selected-color);
}

/* 自己消息选中文字背景色 */
.message-content__wrapper .msg-content-container.container--self span::selection,
.message-content__wrapper .msg-content-container.container--self heti-spacing::selection,
.message-content__wrapper .msg-content-container.container--self br::selection,
.message-content__wrapper .msg-content-container.container--self img::selection {
    background: #ffffff3f;
}

/* 编辑框选中文字背景色 */
.ck-editor__main p::selection,
.ck-editor__main img::selection {
    background: var(--text-selected-color);
}

/* 去除VIP名字特殊效果 以下三段 */
.recent-contact-item:not(.recent-contact-item--selected),
.contact-buddy-item:not(.list-item--selected) {
    .vip-name {
        color: unset !important;
    }

    .text-ellipsis[style*="vip"] {
        -webkit-text-fill-color: unset !important;
        background: unset !important;
        color: var(--text_primary) !important;
        text-shadow: unset !important;
        filter: unset !important;
    }

    .main-info.text-ellipsis {
        .text-ellipsis {
            -webkit-text-fill-color: unset !important;
            background: unset !important;
            color: var(--text_primary) !important;
            text-shadow: unset !important;
            filter: unset !important;
        }
    }
}

.chat-header__contact-name {
    .text-ellipsis {
        -webkit-text-fill-color: unset !important;
        background: unset !important;
        color: var(--text_primary) !important;
        text-shadow: unset !important;
        filter: unset !important;
    }
}

.buddy-profile__info-name,
.buddy-profile__header-name {
    -webkit-text-fill-color: unset !important;
    background: unset !important;
    color: var(--text_primary) !important;
    text-shadow: unset !important;
    filter: unset !important;
}
