/* 聊天框 */
html:not(.mspring_background_plugin_enabled) .chat-input-area {
    border-radius: 16px 16px 0px 0px;
}

/* 搜索结果 */
#app .recent-contact .search-content {
    left: 8px;
    backdrop-filter: blur(32px) saturate(150%) opacity(40%);
    mix-blend-mode: multiply;
}

html:is(.linux) .recent-contact .search-result {
    backdrop-filter: none !important;
    mix-blend-mode: initial !important;
}

/* 文件管理页面 搜索框 */
.title-bar-center .search .q-input.search-input {
    background: var(--msp-container) !important;
}

/* 菜单 */
.q-context-menu {
    backdrop-filter: blur(16px) saturate(150%) opacity(40%);
    mix-blend-mode: multiply;
    background: var(--fill_light_secondary) !important;
}

html:is(.linux) .q-context-menu {
    backdrop-filter: none !important;
    mix-blend-mode: initial !important;
}

/* 
    菜单
    聊天页面账号卡片
    忘了 */
.q-popover,
.user-card-main,
.account-list {
    backdrop-filter: blur(16px) saturate(150%) opacity(40%);
    mix-blend-mode: multiply;
}

html:is(.linux) .q-popover,
html:is(.linux) .user-card-main,
html:is(.linux) .account-list {
    backdrop-filter: none !important;
    mix-blend-mode: initial !important;
}

#app .q-input:not(.search-input),
#app .q-textarea,
.q-pulldown-menu-button {
    border-radius: 8px;
    background: var(--msp-container);
}

/* 聊天界面回顶、回底按钮 */
#app .q-notification.theme-default {
    backdrop-filter: blur(16px) saturate(150%) opacity(40%);
    mix-blend-mode: multiply;
}

html:is(.linux) #app .q-notification.theme-default {
    backdrop-filter: none !important;
    mix-blend-mode: initial !important;
}

.send-btn-wrap,
.top-bar__adder,
.search-input,
.radio-tab,
.q-pulldown-menu-button,
.record-search,
.search,
.guilds-item-btn .q-button {
    border-radius: 8px !important;
}

.q-context-menu:not(.is-pure),
.q-context-sub-menu__container:not(.is-pure),
.q-button {
    border-radius: 8px;
}

/* 群消息表情回应菜单 */
.q-context-menu .menu-stickers-wrapper,
.q-context-menu .menu-stickers-wrapper .menu-stickers,
.menu-stickers-panel {
    border-radius: 8px !important;
}

/* 搜索框等点击之后粉线的圆角 */
.q-input__inner:focus,
.q-textarea__inner:focus {
    border-radius: 8px !important;
}

/* 提示 */
.q-toast-item {
    border-radius: 8px;
}

/* 表情面板 */
@media (prefers-color-scheme: light) {
    .sticker-panel {
        /* 不知道为什么表情面板一使用 mix-blend-mode: multiply，backdrop-filter就会失效 */
        background: #ffffffef !important;
    }
}
@media (prefers-color-scheme: dark) {
    .sticker-panel {
        /* 不知道为什么表情面板一使用 mix-blend-mode: multiply，backdrop-filter就会失效 */
        background: #171717ef !important;
    }
}
