/* 删除背景 */
/* 最近联系列表 */
.recent-contact,
/* 最近联系列表 */
.viewport-list__inner,
/* 最近联系列表 */
.contact,
/* 联系人头部切换 */
.tab-header,
/* .normal-file, */
/* 联系人 群通知、好友通知 */
.sys-notify,
/* .msg-content-container, */
/* .sys-notify-card, */
/* 文件管理 文件列表 */
.file-list-normal-scroll-container,
/* 文件管理 发送人列表 */
.sender-container,
/* 联系人详情 */
html:not(.mspring_background_plugin_enabled) .tab-container .profile,
/* 文件管理页面 文件列表下面加载更多的白条 */
.file-area .loadmore-placeholder,
/* 文件管理页面 群文件 群列表 */
.group-file-container,
/* .q-collapse-item, */
/* 各种折叠列表 头部 */
.q-collapse-item .q-collapse-item__header,
/* 文件管理页面 类型列表 */
.file-type-container,
/* 文件管理页面 类型 图片与视频 */
.file-list-grid-scroll-container,
/* 文件管理页面 群文件 footer */
.file-area-container-group-file-footer,
/* 收藏 左侧列表 */
.favorites-layout,
.favorites-layout__left-area,
.favorites-layout__right-area,
.favorites-layout__content,
.favorites-header,
/* 频道侧栏 */
.guild-sidebar,
/* 子频道列表 */
.channel-container,
/* 频道 私信列表 */
.channelList .session-container,
/* .channel, */
/* 频道 聊天界面 */
.channel .aio-main,
/* 频道 帖子界面 */
.channel .topic-wrap,
/* 频道 成员列表 */
.channel .userList,
/* 频道 发现频道 侧栏 */
.guild-main .main-area-left,
html,
body,
.app,
/* 查看图片顶栏 */
.main-area__header {
    background: initial !important;
}

/* 列表条目圆角 */
.two-col-layout__aside .viewport-list__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

/* 好友通知、群通知列表项 */
.sys-notify__container .sys-notify-card,
.sys-notify__container .list-item {
    border-radius: 8px;
}

/* 消息列表项圆角 */
.viewport-list .list-item {
    border-radius: 12px;
}

/* 聊天框 */
html:not(.mspring_background_plugin_enabled) .chat-input-area {
    border-radius: 16px 16px 0px 0px;
}

/* 文件管理 文件列表 块 */
.file-list-normal-sort,
/* 文件管理 类型 图片与视频 */
.file-list-grid-scroll-container>* {
    margin-bottom: 16px;
}

/* 添加模糊 */
/* .normal-file {
    backdrop-filter: blur(8px);
} */

/* 文件管理 发送人列表 */
.file-manager-main .q-collapse-item {
    background: none !important;
}

/* 
    文件管理 发送人列表
    文件管理 类型列表
    文件管理 发送人列表 展开的子列表 */
.file-manager-main .q-collapse-item__title,
.file-manager-main .file-type,
.file-manager-main .user-item-container {
    border-radius: 8px !important;
}

/* 登录页面QQ图标 */
/* .qq-icon-font {
    transform: none !important;
} */

/* 查看图片界面工具栏 */
/* .main-area__header {
    backdrop-filter: none !important;
} */

/* 查看图片界面 */
/* .main-area {
    background: #0000007f !important;
} */

/* 对话框背景 */
.q-dialog-modal {
    background: #0000003f !important;
}

/* 对话框 */
.q-dialog-main {
    box-shadow: 0 4px 32px 0px #00000021 !important;
    border-radius: 12px;
}

/* 设置背景 */
.msg-content-container.ark-msg-content-container.container--others .ark-view-message_not-support {
    /* 不支持的消息 */
    background: none !important;
}

/* 浅色模式 */
@media (prefers-color-scheme: light) {

    /* 多选消息的按钮 */
    .forward-ops .op-icon {
        background: #00000010 !important;
    }

    /* 聊天界面更多面板 */
    .side-panel {
        box-shadow: 0 4px 6px 0px #00000010 !important;
        background: #ffffff !important;
        backdrop-filter: blur(32px) saturate(150%) opacity(40%);
        mix-blend-mode: multiply;
    }

    html:is(.linux) .side-panel {
        backdrop-filter: none !important;
        mix-blend-mode: initial !important;
    }

    /* 
        聊天界面回顶按钮
        聊天界面回底按钮 */
    .chat-msg-area__tip--top-btn,
    .chat-msg-area__tip--bottom {
        background: #ffffff7f !important;
        backdrop-filter: blur(32px);
    }

    /* 
        主界面侧栏
        主界面侧栏右边区域
        文件管理页面侧栏
        文件管理页面侧栏右边区域
        设置侧栏
        设置侧栏右边的区域 */
    .sidebar-nav,
    html:not(.mspring_lite_tool_background_enabled) .tab-container,
    .nav-bar-container,
    .file-manager-main,
    .setting-tab,
    .setting-main {
        background: var(--background-color-light) !important;
    }

    .viewport-list .list-item:hover {
        background-color: #00000021 !important;
    }

    /* 
        别人消息的背景
        频道 别人消息背景 */
    html:not(.mspring_background_plugin_enabled) .ml-list .message-content__wrapper .container--others,
    .guild-main .message:not(.message-gray-tip,.message-self) .message-content {
        background: #00000010 !important;
    }

    /* 
        合并转发的聊天记录
        文件 */
    .forward-msg,
    .normal-file {
        background-color: #00000010 !important;
        backdrop-filter: none !important;
    }

    /* 
        合并转发的聊天记录（选中）
        文件（选中） */
    .forward-msg:active,
    .normal-file:active {
        background-color: #00000021 !important;
    }

    /* 自己消息的背景 */
    .message-content__wrapper .container--self {
        background: var(--theme-color) !important;
    }

    /* 好友通知、群通知列表项 */
    .sys-notify__container .sys-notify-card {
        background: #00000010 !important;
    }

    /* 搜索结果 */
    .search-result {
        border-radius: 12px !important;
        background: #ffffff !important;
        backdrop-filter: blur(32px) saturate(150%) opacity(40%);
        mix-blend-mode: multiply;
        margin-left: 8px;
        margin-right: 8px;
    }

    html:is(.linux) .search-result {
        backdrop-filter: none !important;
        mix-blend-mode: initial !important;
    }

    /* 
        菜单
        聊天页面账号卡片
        忘了 */
    .q-popover,
    .user-card-main,
    .account-list {
        border-radius: 8px !important;
        backdrop-filter: blur(16px) saturate(150%) opacity(40%) !important;
        background: #ffffff !important;
        mix-blend-mode: multiply !important;
    }

    html:is(.linux) .q-popover,
    html:is(.linux) .user-card-main,
    html:is(.linux) .account-list {
        backdrop-filter: none !important;
        mix-blend-mode: initial !important;
    }

    /* 表情面板 */
    .sticker-panel {
        /* 不知道为什么表情面板一使用 mix-blend-mode: multiply，backdrop-filter就会失效 */
        background: #ffffffef !important;
    }

    /* 转发消息 折叠列表 头部 */
    .q-dialog .q-collapse-item .q-collapse-item__header {
        background: #ffffffef !important;
    }

    /* 
        文件管理 文件列表 块
        文件管理 文件列表 标题
        文件管理 类型 图片与视频
        群文件 群在线文档
        设置 列表项卡片
        设置 消息通知 列表项卡片 消息组
        设置 存储管理 列表项卡片
        设置 快捷键 列表项卡片
        LiteLoaderQQNT 主体&插件配置界面
        QQNTim 设置界面*/
    .file-list-normal-sort,
    .file-list-normal-sort-title,
    .file-list-grid-scroll-container>*,
    .group-file-banner,
    .setting-main__content>*>*:not(.appearance-tab, .liteloader)>*:not(.setting-item-title, .popup, .storage-space, .shotcut),
    .setting-main__content .popup>*:not(.setting-item-title),
    .setting-main__content .storage-space>*:not(.setting-item-title, .storage-chart),
    .setting-main__content .shotcut>*,
    .liteloader setting-panel,
    .qqntim-settings-panel-section-content {
        background: #00000010 !important;
        border-radius: 8px;
    }

    /* 登录页面背景 */
    .login-container {
        background-color: #ffffff !important;
    }

    .password-container__input-area .q-input,
    .password-container__input-area .password .input,
    .password-container__input-area .password .input.focus {
        border-radius: 8px !important;
        background: #00000010 !important;
    }

    /* 去除VIP红色昵称 */
    .vip-name {
        color: initial !important;
    }

    /* 联系人头部切换 */
    .radio-tab {
        background: #00000010 !important;
    }

    /* 防撤回提示 */
    html:not(.mspring_background_plugin_enabled, .mspring_lite_tool_background_enabled) .message-content-recalled {
        background: #00000010 !important;
        backdrop-filter: initial !important;
    }

    /* 插件设置 列表里的输入框 */
    .liteloader input[type="text"] {
        border-radius: 8px;
        background: #00000010;
        padding-left: 6px;
    }

    .liteloader input[type="text"]:focus {
        background: #00000021 !important;
        padding-left: 10px !important;
    }

    /* 轻量工具箱 +1和外置时间 */
    html:not(.mspring_lite_tool_background_enabled) .message-content-replace::after,
    html:not(.mspring_lite_tool_background_enabled) .lite-tools-time.bubble-outside::after {
        background: #00000010 !important;
        backdrop-filter: initial !important;
    }

}


/* 深色模式 */
@media (prefers-color-scheme: dark) {

    /* 多选消息的按钮 */
    .forward-ops .op-icon {
        background: #ffffff21 !important;
    }

    /* 聊天界面更多面板 */
    .side-panel {
        box-shadow: 0 4px 6px 0px #00000010 !important;
        background: #171717 !important;
        backdrop-filter: blur(32px) saturate(150%) opacity(40%);
        mix-blend-mode: multiply;
    }

    html:is(.linux) .side-panel {
        backdrop-filter: none !important;
        mix-blend-mode: initial !important;
    }

    /* 
        聊天界面回顶按钮
        聊天界面回底按钮 */
    .chat-msg-area__tip--top-btn,
    .chat-msg-area__tip--bottom {
        background: #1717177f !important;
        backdrop-filter: blur(32px);
    }

    /* 
        主界面侧栏
        主界面侧栏右边区域
        文件管理页面侧栏
        文件管理页面侧栏右边区域
        设置侧栏
        设置侧栏右边的区域 */
    .sidebar-nav,
    html:not(.mspring_lite_tool_background_enabled) .tab-container,
    .nav-bar-container,
    .file-manager-main,
    .setting-tab,
    .setting-main {
        background: var(--background-color-dark) !important;
    }

    .viewport-list .list-item:hover {
        background-color: #ffffff3f !important;
    }

    /* 别人消息的背景 */
    html:not(.mspring_background_plugin_enabled) .ml-list .message-content__wrapper .container--others {
        background: #ffffff21 !important;
    }

    /* 
        合并转发的聊天记录
        文件 */
    .forward-msg,
    .normal-file {
        background-color: #ffffff21 !important;
        backdrop-filter: none !important;
    }

    /* 
        合并转发的聊天记录（选中）
        文件（选中） */
    .forward-msg:active,
    .normal-file:active {
        background-color: #ffffff10 !important;
    }

    /* 自己消息的背景 */
    .message-content__wrapper .container--self {
        background: var(--theme-color) !important;
    }

    /* 好友通知、群通知列表项 */
    .sys-notify__container .sys-notify-card {
        background: #ffffff21 !important;
    }

    /* 搜索结果 */
    .search-result {
        border-radius: 12px !important;
        background: #171717 !important;
        backdrop-filter: blur(32px) saturate(150%) opacity(40%);
        mix-blend-mode: multiply;
        margin-left: 8px;
        margin-right: 8px;
    }

    html:is(.linux) .search-result {
        backdrop-filter: none !important;
        mix-blend-mode: initial !important;
    }

    /* 
        菜单
        聊天页面账号卡片
        忘了 */
    .q-popover,
    .user-card-main,
    .account-list {
        border-radius: 8px !important;
        backdrop-filter: blur(16px) saturate(150%) opacity(40%) !important;
        background: #171717 !important;
        mix-blend-mode: multiply !important;
    }

    html:is(.linux) .q-popover,
    html:is(.linux) .user-card-main,
    html:is(.linux) .account-list {
        backdrop-filter: none !important;
        mix-blend-mode: initial !important;
    }

    /* 表情面板 */
    .sticker-panel {
        /* 不知道为什么表情面板一使用 mix-blend-mode: multiply，backdrop-filter就会失效 */
        background: #171717ef !important;
    }

    /* 转发消息 折叠列表 头部 */
    .q-dialog .q-collapse-item .q-collapse-item__header {
        background: #303030ef !important;
    }

    /* 
        文件管理 文件列表 块
        文件管理 文件列表 标题
        文件管理 类型 图片与视频
        群文件 群在线文档
        设置 列表项卡片
        设置 消息通知 列表项卡片 消息组
        设置 存储管理 列表项卡片
        设置 快捷键 列表项卡片
        LiteLoaderQQNT 主体&插件配置界面
        LiteLoaderQQNT 主体&插件配置界面
        QQNTim 设置界面*/
    .file-list-normal-sort,
    .file-list-normal-sort-title,
    .file-list-grid-scroll-container>*,
    .group-file-banner,
    .setting-main__content>*>*:not(.appearance-tab, .liteloader)>*:not(.setting-item-title, .popup, .storage-space, .shotcut),
    .setting-main__content .popup>*:not(.setting-item-title),
    .setting-main__content .storage-space>*:not(.setting-item-title, .storage-chart),
    .setting-main__content .shotcut>*,
    .liteloader setting-panel,
    .qqntim-settings-panel-section-content {
        background: #ffffff21 !important;
        border-radius: 8px;
    }

    /* 登录页面背景 */
    .login-container {
        background-color: #171717 !important;
    }

    .password-container__input-area .q-input,
    .password-container__input-area .password .input,
    .password-container__input-area .password .input.focus {
        border-radius: 8px !important;
        background: #ffffff3f !important;
    }

    .login-panel,
    .proxy-setting__title,
    .proxy-setting__subtitle,
    #qPullDownMenuTrigger,
    .login-panel .q-button.q-button--secondary.q-button--default>span {
        color: #ffffff !important;
    }

    .login-panel .q-button.q-button--secondary.q-button--default {
        border-color: #ffffff7f !important;
    }

    .q-pulldown-menu-button {
        background: #ffffff21 !important;
    }

    .login-panel .proxy-setting__type>div>div>span>i>svg>path {
        fill: #ffffff !important;
    }

    .process-text,
    .password-container__input-area,
    .password-container__input-area .q-icon,
    .password-container__input-area .q-input__inner,
    .account-list .uin {
        color: #ffffff !important;
    }

    /* 登录页面手机验证文本颜色 */
    .wait-confirm .title,
    .wait-confirm .desc,
    .auto-login .status-txt {
        color: #ffffff !important;
    }

    .login-panel .seperator {
        color: #ffffff7f !important;
    }

    .login-panel .password-container__opreate.operation>div,
    .login-panel .operation>div {
        background: #ffffff7f !important;
    }

    /* 登录页隐私checkbox未勾选 */
    .q-checkbox:not(.is-disabled):not(.is-checked):hover .q-checkbox__input {
        background-color: #ffffff3f !important;
        border-color: #ffffff9f !important;
    }

    /* 登录页隐私checkbox勾选 */
    .q-checkbox .q-checkbox__input {
        background-color: #ffffff10 !important;
        border-color: #ffffff3f !important;
    }

    .main-search .search-input {
        background: #ffffff10 !important;
    }


    /* 自己发送的链接颜色 */
    .container--self .text-link {
        color: #ffffff !important;
    }

    /* 深色模式下将艾特颜色改为白色并添加下划线与普通消息文本进行区分 */
    .container--self .text-element--at {
        color: #ffffff !important;
        text-decoration: underline;
    }

    /* 去除VIP红色昵称 */
    .vip-name {
        color: #ffffff !important;
    }

    /* 联系人头部切换 */
    .radio-tab {
        background: #ffffff21 !important;
    }

    /* 防撤回提示 */
    html:not(.mspring_background_plugin_enabled, .mspring_lite_tool_background_enabled) .message-content-recalled {
        background: #ffffff21 !important;
        backdrop-filter: initial !important;
    }

    /* DeepL插件 他人的消息框分割线颜色 */
    .container--others #deepl-divider {
        background: #ffffff3f !important;
    }

    /* 插件设置 列表里的输入框 */
    .liteloader input[type="text"] {
        border-radius: 8px;
        background: #ffffff10;
        padding-left: 6px;
    }

    .liteloader input[type="text"]:focus {
        background: #ffffff21 !important;
        padding-left: 10px !important;
    }

    /* 轻量工具箱 +1和外置时间 */
    html:not(.mspring_lite_tool_background_enabled) .message-content-replace::after,
    html:not(.mspring_lite_tool_background_enabled) .lite-tools-time.bubble-outside::after {
        background: #ffffff21 !important;
        backdrop-filter: initial !important;
    }
}

:root {
    --el-color-primary: var(--theme-color);
}

.q-theme-tokens-light {
    --brand_standard: var(--theme-color);
    --nt_brand_standard_2_overlay_pressed_brand_2_mix: var(--theme-color-dark2);
    --nt_brand_standard_2_overlay_hover_brand_2_mix: var(--theme-color-dark1);
    --bubble_host: var(--theme-color);
    --nt_brand_standard_2_20_2_alpha: var(--theme-color-alpha);
    --overlay_active_brand: var(--theme-color);
    --text_link: var(--theme-color);
    --text-brand: var(--theme-color);
}

.q-theme-tokens-dark {
    --brand_standard: var(--theme-color);
    --nt_brand_standard_2_overlay_pressed_brand_2_mix: var(--theme-color-dark2);
    --nt_brand_standard_2_overlay_hover_brand_2_mix: var(--theme-color-dark1);
    --bubble_host: var(--theme-color);
    --nt_brand_standard_2_20_2_alpha: var(--theme-color-alpha);
    --overlay_active_brand: var(--theme-color);
    --text_link: var(--theme-color);
    --text-brand: var(--theme-color);
}

.send-btn-wrap,
.top-bar__adder,
.search-input,
.radio-tab,
.q-pulldown-menu-button,
.record-search,
.search,
.guilds-item-btn .q-button {
    border-radius: 8px !important;
}

.q-context-menu:not(.is-pure),
.q-context-sub-menu__container:not(.is-pure),
.q-button {
    /* backdrop-filter: brightness(100%) saturate(120%) blur(8px); */
    /* background: none !important; */
    border-radius: 8px;
}

.guilds-item {
    border-radius: 16px !important;
    height: initial !important;
    min-width: auto !important;
}

.password-container__input-area .q-input__inner,
.password-container__input-area .password {
    background: none !important;
}

.login-container {
    background-image: none !important;
}

.auto-login .avatar {
    box-shadow: 0px 4px 28px 0px var(--text-selected-color) !important;
}

.record-msg .msg-content-container {
    background: none !important;
    backdrop-filter: none !important;
}

/* 搜索框等点击之后粉线的圆角 */
.q-input__inner:focus {
    border-radius: 8px !important;
}

/* 登录页面链接颜色 */
.login-panel .password-container__opreate.operation>span:nth-child(1)>span,
.login-panel .password-container__opreate.operation>span:nth-child(3)>span,
#chk1-label>a:nth-child(1),
#chk1-label>a:nth-child(2),
#app>div>div.login-panel>div>div.operation>span:nth-child(1),
#app>div>div.login-panel>div>div.operation>span:nth-child(3),
.login-panel .operation {
    color: var(--text_link) !important;
}

/* 设置界面链接文字颜色 */
.liteloader a {
    color: var(--theme-color) !important;
}

.liteloader a:hover {
    color: var(--theme-color-dark2) !important;
}

/* 设置页面input */
.liteloader input[type="color"] {
    padding: 4px;
}

.liteloader ::-webkit-color-swatch-wrapper {
    padding: 0px;
}

.liteloader ::-webkit-color-swatch {
    border-radius: 4px;
    border: transparent solid 1px;
}

.liteloader input:is([type="color"], [type="range"]):focus {
    border: 1px solid #424242 !important;
}

.liteloader setting-panel input[type="text"] {
    border-radius: 4px !important;
}

/* 
    管理员标签（群成员列表）
    管理员标签（聊天界面）
    群公告置顶标签
 */
.group-user .q-tag.group-user__role:not(.primary),
.group-chat .q-tag.member-role-tag:not(.primary),
.notice__container .top-flag {
    color: var(--theme-color) !important;
    background: var(--theme-tag-color) !important;
}

/* 开启背景插件后自己发送消息的文本颜色 */
html.mspring_background_plugin_enabled .msg-content-container.container--self {
    color: var(--bubble_host_text) !important;
}

/* 开启背景插件后自己回复消息的文本颜色 */
html.mspring_background_plugin_enabled .reply-element.reply-element--self {
    color: var(--on_brand_primary) !important;
}

/* 开启背景插件后的搜索框多的双层方形背景 */
html.mspring_background_plugin_enabled .main-search {
    background: none !important;
}

/* DeepL插件 自己的消息框分割线颜色 */
.container--self #deepl-divider {
    background: #ffffff3f !important;
}

/* 别人消息选中文字背景色 */
.message-content__wrapper .container--others span::selection,
.message-content__wrapper .container--others heti-spacing::selection,
.message-content__wrapper .container--others br::selection,
.message-content__wrapper .container--others img::selection {
    background: var(--text-selected-color);
}

/* 自己消息选中文字背景色 */
.message-content__wrapper .container--self span::selection,
.message-content__wrapper .container--self heti-spacing::selection,
.message-content__wrapper .container--self br::selection,
.message-content__wrapper .container--self img::selection {
    background: #ffffff3f;
}

/* 编辑框选中文字背景色 */
.ck-editor__main p::selection,
.ck-editor__main img::selection {
    background: var(--text-selected-color);
}

/* 提示 */
.q-toast-item {
    border-radius: 8px;
}