/* 文件管理界面的相关样式 */
@use "variables" as *;

#app {
    .container:has(.file-manager-main) {

        // 右侧主要内容
        .file-manager-main {
            border: 0;

            // 左侧联系人/群列表
            .main-left {
                .user-list-container {
                    padding-top: unset;

                    // 折叠列表标题（无折叠列表时直接显示好友/群列表）
                    .q-collapse-item__header {
                        margin-bottom: 8px;

                        .user-list {
                            border-radius: 8px;
                        }
                    }

                    // 折叠列表内容
                    .q-collapse-item__content {
                        .user-list-margin.user-list {
                            margin-bottom: 8px;
                            border-radius: 8px;
                        }
                    }
                }
            }

            // 右侧文件列表
            .file-area {
                .file-area-shortcut {
                    margin-top: unset;

                    .shortcut-item {
                        // border-radius: 8px;
                    }
                }

                .file-area-container {
                    padding-bottom: 20px;

                    .file-list-normal-scroll-border {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }

                    // 文件列表 折叠标题
                    .file-list-normal-sort-title-height {
                        border-radius: 0;
                        background: rgb(from var(--bg_white) r g b / 0.8);
                    }

                    // 群文件 footer
                    .file-area-container-group-file-footer {
                        border-radius: 0;
                        background: rgb(from color-mix(in srgb, var(--msp-container), var(--bg_white)) r g b / 1);
                        backdrop-filter: $blur-backdrop-filter-16;
                        mix-blend-mode: multiply;
                    }
                }
            }
        }
    }
}