/* 登录界面的相关样式 */
@use "variables" as *;

/* 登录页面背景 */
#login {
    // background: none !important;
    background-color: var(--bg_white) !important;

    #polar {
        display: none;
    }

    #app {
        .login-panel {
            .account-list {
                backdrop-filter: $blur-backdrop-filter-16;
                mix-blend-mode: multiply;
                background: var(--bg_white) !important;
            }

            .password {

                .q-input,
                .password {
                    border-radius: 8px;
                    background: var(--msp-container);

                    .q-input__inner,
                    .input {
                        background: none;
                    }
                }
            }

            .auto-login {
                .avatar {
                    box-shadow: 0 2px 28px 0 rgb(from var(--theme-color) r g b / 40%);
                }

            }
        }

    }
}