/* 设置界面以及插件设置的相关样式 */
@use "variables" as *;

// /* 设置界面链接文字颜色 */
// :is(.liteloader, .qwqnt.q-scroll-view) {
//     a {
//         color: var(--theme-color) !important;

//         &:hover {
//             color: var(--theme-color-dark2) !important;
//         }
//     }
// }

/* 设置页面 input 样式 */
:is(.liteloader, .qwqnt.q-scroll-view) {

    // 颜色选择器
    input[type="color"] {
        padding: 4px;
    }

    ::-webkit-color-swatch-wrapper {
        padding: 0px;
    }

    ::-webkit-color-swatch {
        border-radius: 4px;
        border: transparent solid 1px;
    }

    input:is([type="color"], [type="range"]).q-button:focus {
        border: 1px solid #424242 !important;
    }

    // 滑块（Range Slider）
    input[type="range"].q-button {
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;

        // 滑轨
        &::-webkit-slider-runnable-track {
            background: none;
            border-radius: 4px;
            height: 6px;
        }

        // 圆点
        &::-webkit-slider-thumb {
            appearance: none;
            -webkit-appearance: none;
            background: var(--theme-color);
            border-radius: 50%;
            height: 16px;
            width: 16px;
            margin-top: -5px; // 居中对齐
            cursor: pointer;

            &:hover {
                background: var(--theme-color-hover);
            }

            &:active {
                background: var(--theme-color-pressed);
            }
        }
    }

    // 文本输入框
    setting-panel input[type="text"] {
        border-radius: 8px !important;
    }

    input[type="text"] {
        border-radius: 8px;
        padding-left: 8px;

        // 浅色模式
        @media (prefers-color-scheme: light) {
            background: var(--msp-container);

            &:focus {
                background: var(--msp-container-active);
                padding-left: 10px;
            }
        }

        // 深色模式
        @media (prefers-color-scheme: dark) {
            background: #ffffff10;

            &:focus {
                background: var(--msp-container);
                padding-left: 10px;
            }
        }
    }
}
